@import '../../../assets/styles/variables.scss';

.Container {
  display: flex;
  justify-content: space-between;
  padding: 51px 160px;
  background-color: $color-default;
  color: $color-alt;
}
.Contact {
  display: flex;
  flex-direction: column;
}
.Title {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
.Logo {
  width: 56px;
  height: 56px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}
.Name {
  font-family: 'Caveat';
  font-size: 48px;
  font-weight: 600;
  margin-left: 4px;
  position: relative;
  top: -3px;
}
.Description {
  font-size: 14px;
  width: 286px;
  line-height: 125%;
  letter-spacing: 1.7px;
  margin-bottom: 20px;
}
.Copyright {
  font-size: 21px;
}
.Links {
  padding-top: 24px;
  font-size: 21px;
  display: flex;
  line-height: 100%;
}
.Resources {
  display: flex;
  margin-right: 74px;
  flex-direction: column;
}
.About {
  display: flex;
  flex-direction: column;
}
.LinkTitle {
  font-weight: 600;
  margin-bottom: 21px;
}
.LinkName {
  color: $color-alt;
  text-decoration: none;
  margin-bottom: 16px;
  &:hover {
    text-decoration: underline;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: $breakpoint-phone) {
  .Container {
    min-width: $display-width-default-mobile;
    width: auto;
    padding: 14px 24px;
  }
  .Contact {
    margin: 0 24px 0 0;
  }
  .Title {
    margin-bottom: 4px;
  }
  .Name {
    font-size: 36px;
  }
  .Logo {
    width: 32px;
    height: 32px;
  }
  .Description {
    width: auto;
    max-width: 286px;
  }
  .Links {
    padding-top: 16px;
  }
  .LinkTitle {
    margin-bottom: 14px;
  }
  .LinkName {
    margin-bottom: 14px;
  }
  .Resources {
    margin-right: 8px;
  }
  .Copyright {
    margin-top: auto;
  }
}
@media only screen and (min-width: $breakpoint-phone) and (max-width: $breakpoint-tablet) {
  .Container {
    min-width: $display-width-default-mobile;
    width: calc(100vw - 48px * 2);
    padding: 24px 48px;
  }
  .Contact {
    margin: 0 36px 0 0;
  }
  .Title {
    margin-bottom: 8px;
  }
  .Name {
    font-size: 42px;
  }
  .Logo {
    width: 42px;
    height: 42px;
  }
  .Description {
    width: auto;
    max-width: 286px;
  }
  .Resources {
    margin-right: 32px;
  }
  .Links {
    padding-top: 21px;
  }
  .Copyright {
    margin-top: auto;
  }
}
@media only screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
  .Container {
    min-width: $display-width-default-mobile;
    width: calc(100vw - 104px * 2);
    padding: 24px 104px;
  }
  .Resources {
    margin-right: 42px;
  }
}
