.Container {
  display: flex;
  flex-direction: column;
}
.Section {
  margin-bottom: 74px;
  &:last-child {
    margin: 0;
  }
}
.Title {
  font-size: 54px;
  font-weight: 600;
  margin-bottom: 24px;
}
.Description {
  font-size: 21px;
  line-height: 150%;
  p {
    margin: 0 0 28px 0;
    &:last-child {
      margin: 0;
    }
  }
  ul {
    margin: 8px 0 0 0;
  }
}
