@use '../../../../assets/styles/variables.scss';
@use '../../../../assets/styles/mixins.scss';

.Container {
  padding: 190px 0;
  height: calc(100% - 190px * 2);
  margin: 0 160px;
}

@include mixins.breakpoint(phone) {
  .Container {
    min-width: variables.$display-width-default-mobile;
    width: auto;
    margin: 0 24px;
  }
}
@include mixins.breakpoint(tablet) {
  .Container {
    min-width: variables.$display-width-default-mobile;
    width: auto;
    margin: 0 48px;
  }
}
@include mixins.breakpoint(desktop) {
  .Container {
    min-width: variables.$display-width-default-mobile;
    width: auto;
    margin: 0 104px;
  }
}
