@import '../../../../assets/styles/variables.scss';

.Container {
  padding: 190px 0;
  height: calc(100% - 190px * 2);
  margin: 0 160px;
}

@media only screen and (max-width: $breakpoint-phone) {
  .Container {
    min-width: $display-width-default-mobile;
    width: auto;
    margin: 0 24px;
  }
}
@media only screen and (min-width: $breakpoint-phone) and (max-width: $breakpoint-tablet) {
  .Container {
    min-width: $display-width-default-mobile;
    width: auto;
    margin: 0 48px;
  }
}
@media only screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
  .Container {
    min-width: $display-width-default-mobile;
    width: auto;
    margin: 0 104px;
  }
}
