@import '../../../assets/styles/variables.scss';

.Container {
  display: flex;
  height: calc(100vh - (32px * 2));
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  font-size: 42px;
  text-align: center;
}
.ImageContainer {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.Image {
  border-radius: 8px;
  width: 400px;
}
@media only screen and (max-width: $breakpoint-phone) {
  .Image {
    width: 300px;
  }
}
