@import './assets/styles/variables.scss';

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  color: $color-default;
  background-color: $bg-color-main;
}
