@import './assets/styles/variables.scss';

@font-face {
  font-family: 'Neucha';
  src: url('./assets/fonts/Neucha-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Caveat';
  src: url('./assets/fonts/Caveat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Caveat';
  src: url('./assets/fonts/Caveat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
* {
  font-family: $font-family;
}
html {
  height: 100%;
  background-color: #204824 !important;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: #204824;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
