@import './assets/styles/variables.scss';

@font-face {
  font-family: 'Neucha';
  src: url('./assets/fonts/Neucha-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
* {
  font-family: $font-family;
}
html {
  height: 100%;
  background-color: #204824 !important;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: #204824;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
