//Text color
$color-default: #ede991;
$color-alt: #204824;
$color-white: #fff;
$color-black: #000;

//Background color
$bg-color-main: #204824;
$bg-color-alt: #ede991;
$bg-color-discord: #5865f2;

//Font
$font-family: 'Neucha', 'Caveat', 'Helvetica Neue', Arial, sans-serif;
